.h2 {
  text-align: left;
  margin-top: 100px;
  color: rgb(255, 255, 255);
  font-family: var(--font-roboto);
  font-weight: 500;
  font-size: 34px;
  font-style: normal;
  letter-spacing: normal;
  text-transform: none;
  line-height: 145%;
  transition: color 0.3s ease 0s;
  overflow: hidden;
  display: block;
  vertical-align: middle;
  text-overflow: ellipsis;
  max-width: 100%;
  padding: 0 36px;
  word-wrap: break-word;
  word-break: break-word;
}
